<div id="block_<%= block.id %>">
  <!-- TODO: link to water bill -->
  <div class="search-bar">
    <div class="grid-row">

      <div class="unit unit1of2">
        <a href="#" class="btn">Pay My Bill Online</a>
      </div>

      <div class="unit unit1of2">
        <form action="/search" id="search">
          <input type="text" placeholder="Enter Keywords">
          <input type="submit" value"Search" class="btn">
        </form>
      </div>

    </div><!-- .grid-row .constrain -->
  </div><!-- .search-bar -->
</div>
