<div id="block_<%= block.id %>">
  <div class="home-news">
    <div class="article">
      <h4>Kentuck Art Festival</h4>
      <div class="video">
        <img src="//d3bx2wzktj6bct.cloudfront.net/assets/vimeo.jpg" alt="Vimeo Video">
      </div>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean imperdiet in metus ut cursus. Donec interdum, metus ut rutrum convallis, sapien massa volutpat odio, eu porttitor lacus elit ac tellus. Morbi tincidunt ante sit amet nibh pretium ullamcorper. Sed nec adipiscing leo. Aenean venenatis adipiscing nisi, posuere tempor erat malesuada at. Sed ac placerat nisi, in tempor elit. Aenean lobortis ante in velit venenatis viverra. Sed quam felis, vehicula eget dui quis, euismod varius lectus. In hac habitasse platea dictumst. Duis purus mauris, feugiat ut dignissim vel, tempus ac orci.</p>
      </div>
      <a href="#" class="red btn">Read More</a>
    </div>
    <div class="news-post">
      <img src="//d3bx2wzktj6bct.cloudfront.net/assets/public_safety.jpg" alt="Public Safety">
      <div class="text">
        <h5 class="title">Public Safety</h5>
        <span class="date">July 2, 2014</span>
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean imperdiet in metus ut cursus. Donec interdum, metus ut rutrum convallis, sapien massa volutpat odio, eu porttitor lacus elit ac tellus. Morbi tincidunt ante sit amet nibh lobortis ante orci.  Morbi tincidunt ante sit amet nibh lobortis ante orci.</p>
        </div>
        <a href="#" class="btn red">Read More</a>
      </div>
    </div>
    <div class="news-post">
      <img src="//d3bx2wzktj6bct.cloudfront.net/assets/summer_days.jpg" alt="Public Safety">
      <div class="text">
        <h5 class="title">Summer Days</h5>
        <span class="date">July 2, 2014</span>
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean imperdiet in metus ut cursus. Donec interdum, metus ut rutrum convallis, sapien massa volutpat odio, eu porttitor lacus elit ac tellus. Morbi tincidunt ante sit amet nibh lobortis ante orci.  Morbi tincidunt ante sit amet nibh lobortis ante orci.</p>
        </div>
        <a href="#" class="btn red">Read More</a>
      </div>
    </div>
  </div>
</div>
