<div class="left-sidebar" id="block_<%= block.id %>">
  <div class="section-heading nav">
    <h4>Departments Navigation</h4>
    <div class="arrow down_arrow conceal"></div>
  </div>
  <div class="menu reveal">
    <ul>
      <li><a href="#">Business License</a></li>
      <li><a href="#">Community Relations</a></li>
      <li><a href="#">Engineering</a></li>
      <li><a href="#">Finance</a></li>
      <li><a href="#">Fire Department</a></li>
      <li><a href="#">Human Resources</a></li>
      <li><a href="#">Planning Inspections</a></li>
      <li><a href="#">Police Department</a></li>
      <li><a href="#">Public Works</a></li>
      <li><a href="#">Retail Development</a></li>
      <li><a href="#">Sales &amp; Use Tax</a></li>
      <li><a href="#">Utilities-Water and Wastewater</a></li>
    </ul>
  </div>
  <div class="calendar">
    <h4>Calendar of Events</h4>
    <img src="//d3bx2wzktj6bct.cloudfront.net/assets/calendar.jpg" alt="Calendar" />
  </div>
</div>