<div id="block_<%= block.id %>">
  <!-- _layout_home_banner.html.erb -->
  <!--
    TODO:
      - fill in all anchor hrefs
  -->
  <div class="home-banner">
    <div class="overlay"></div>
    <div class="constrain">

      <div class="sub-nav reveal">
        <ul>
          <li><a href="#">Government</a></li>
          <li><a href="#">Job Openings</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="#">Forms</a></li>
          <li><a href="/contact-us">Contact Us</a></li>
        </ul>
      </div><!-- .sub-nav .reveal -->

      <div class="social reveal">
        <a href="#" target="_blank"><img src="//d3bx2wzktj6bct.cloudfront.net/assets/icons/facebook.png" alt="Facebook"></a>
      </div><!-- .social .reveal -->

      <div class="text">
        <h2>welcome to</h2>
        <h1>The City of Northport</h2>
      </div>


    </div><!-- .constrain -->

    <div class="bottom">
      <div class="banner-links">
        <div class="constrain">
          <!-- navigation panel -->
          <div class="grid-row reveal">

            <div class="unit unit1of5">
              <a href="/leadership">
                <img src="//d3bx2wzktj6bct.cloudfront.net/assets/icons/leadership.png" alt="" class="icon">
                <h3>Leadership</h3>
              </a>
            </div>

            <div class="unit unit1of5">
              <a href="/departments">
                <img src="//d3bx2wzktj6bct.cloudfront.net/assets/icons/departments.png" alt="" class="icon">
                <h3>Departments</h3>
              </a>
            </div>

            <div class="unit unit1of5">
              <a href="/visitors">
                <img src="//d3bx2wzktj6bct.cloudfront.net/assets/icons/visitors.png" alt="" class="icon">
                <h3>Visitors</h3>
              </a>
            </div>

            <div class="unit unit1of5">
              <a href="/residents">
                <img src="//d3bx2wzktj6bct.cloudfront.net/assets/icons/residents.png" alt="" class="icon">
                <h3>Residents</h3>
              </a>
            </div>

            <div class="unit unit1of5">
              <a href="/retailers">
                <img src="//d3bx2wzktj6bct.cloudfront.net/assets/icons/retailers.png" alt="" class="icon">
                <h3>Retailers</h3>
              </a> 
            </div>

          </div><!-- .grid-row .reveal -->

          <div class="mobile_show_link beneath conceal">
            <a href="#" id="show_banner_links">Show Menu</a>
          </div>

        </div><!-- .constrain -->
      </div><!-- .banner-links -->
    </div><!-- .bottom -->
  </div><!-- .home-banner -->
</div>
