<div class="footer main" id="block_<%= block.id %>">
  <div class="photo-bar">
    <div class="top-border"></div>
  </div>
  <div class="bottom">
    <div class="constrain">
      <div class="navigation">
        <h5>Navigation</h5>
        <ul>
          <li><a href="/leadership">Leadership</a></li>
          <li><a href="/departments">Departments</a></li>
          <li><a href="/visitors">Visitors</a></li>
          <li><a href="/residents">Residents</a></li>
          <li><a href="/retailers">Retailers</a></li>
          <li><a href="#">Government</a></li>
          <li><a href="#">Job Openings</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Forms</a></li>
          <li><a href="#">Agenda &amp; Minutes</a></li>
          <li><a href="#">Public Notices</a></li>
          <li><a href="#">Pay My Water Bill Online</a></li>
          <li><a href="#">Employee Email</a></li>
        </ul>
      </div>
      <div class="get-in-touch">
        <h5>Get in Touch</h5>
        <table>
          <tr>
            <td>Phone:</td>
            <td>205-339-7000</td>
          </tr>
          <tr>
            <td>Fax:</td>
            <td>205-333-3046</td>
          </tr>
          <tr>
            <td>Email:</td>
            <td><a href="mailto:contact@cityofnorthport.org">contact@cityofnorthport.org</a></td>
          </tr>
          <tr><td></td><td></td></tr><tr><td></td><td></td></tr>
          <tr>
            <td>Address:</td>
            <td>City Hall<br />
                3500 McFarland Blvd.<br />
                Northport, Alabama  35476
            </td>
          </tr>
        </table>
      </div>
      <div class="follow">
        <h5>Follow Us</h5>
        <p>Follow us on social networks or subscribe to our RSS Feed!</p>
        <div class="social">
          <a href="#" target="_blank"><img src="//d3bx2wzktj6bct.cloudfront.net/assets/icons/footer_facebook.png" alt="Facebook"></a>
          <a href="#" target="_blank"><img src="//d3bx2wzktj6bct.cloudfront.net/assets/icons/footer_twitter.png" alt="Twitter"></a>
        </div>
        <div class="nine">
          <p>Designed and loved by:</p>
          <a href="http://www.nine.is" target="_blank"><img src="//d3bx2wzktj6bct.cloudfront.net/assets/nine_logo.png" alt="The Nine"></a>
          <p>Powered by:</p>
          <a href="#" target="_blank"><img class="caboose" src="//d3bx2wzktj6bct.cloudfront.net/assets/caboose_logo.png" alt="Caboose"></a>
        </div>
      </div>
    </div>
  </div>
</div>