@font-face {
  font-family: 'Avenir';
  src: url('//d3bx2wzktj6bct.cloudfront.net/assets/avenir-medium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('//d3bx2wzktj6bct.cloudfront.net/assets/avenir-black.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Rockwell';
  src: url('//d3bx2wzktj6bct.cloudfront.net/assets/rockwell.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rockwell';
  src: url('//d3bx2wzktj6bct.cloudfront.net/assets/rockwell-italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Aller';
  src: url('//d3bx2wzktj6bct.cloudfront.net/assets/aller.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aller';
  src: url('//d3bx2wzktj6bct.cloudfront.net/assets/aller-light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aller';
  src: url('//d3bx2wzktj6bct.cloudfront.net/assets/aller-light-italic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('//d3bx2wzktj6bct.cloudfront.net/assets/myriadpro.ttf');
  font-weight: normal;
  font-style: normal;
}